.common {
    background-color: gray;
    position: absolute

}
.background{
    background-color: gray;
}

.header {
    top: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    
}

.tl {
    top:120px;
    left: 5px;
    width: 47%;
    height:47%;
}
.tr {
    top: 120px;
    right: 5px;
    width: 47%;
    height:47%;

}
.bl {
    top: 700px;
    left: 5px;
    width: 47%;
    height:47%;

}
.br {
    top: 700px;
    right: 5px;
    width: 47%;
    height:47%;


}

.footer {
    top: 1325px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    text-align: center;
}